- title = "Joel Graycar"
- description = "Welcome to the personal website and project portfolio of Joel Graycar"
- image = URI.join(root_url, image_path("favicon.png"))

- meta title: title,
  description: description,
  og: { title: title, description: description, image: image, url: root_url }

%h1 Welcome!

#intro
  :markdown
    I am Joel Graycar, a third-year Computer Science major at the University of California, Berkeley. Please feel free to browse through a few of the projects I have worked on since I began programming in 2012, and to contact me at [jgraycar@berkeley.edu](jgraycar@berkeley.edu) with any questions or inquiries.

#pic-of-me
  = image_tag("front-page-me.jpg")
