- title = "Work Experience"
- description = "View my past work experience and positions."
- image = URI.join(root_url, image_path("favicon.png"))

- meta title: title, description: description,
  og: { title: title, description: description, image: image, url: request.original_url }

%h1 Resume

= link_to "Download Resume", image_path("../resume.pdf")

= render "index", jobs: @jobs
