- title = "Work Experience"
- description = "View my past work experience and positions."
- image = URI.join(root_url, image_path("favicon.png"))

- meta title: title, description: description,
  og: { title: title, description: description, image: image, url: request.original_url }

.left
  %h1 Work Experience

  = render "jobs/jobs_feed", jobs: @jobs

.right
  = link_to "Download PDF", "/resume.pdf", id: "resume-link"
