- title = "About Me"
- description = "See more detailed information on my background and experience."
- image = URI.join(root_url, image_path("favicon.png"))

- meta title: title, description: description,
  og: { title: title, description: description, image: image, url: request.original_url }

.left
  %h2 All About Joel

  %section.about-text
    :markdown
      Joel came to UC Berkeley in the fall of 2012 thinking he would be a mathematician. In his first semester, he took an introductory computer science course at the urging of his orientation leader. One semester later, he hopped on the CS train and hasn't looked back since.

      His current programming passions include web development using Ruby on Rails and making desktop applications through Java Swing. You can find him on Github ([@greytoyota](https://github.com/greytoyota)) and [LinkedIn](https://www.linkedin.com/in/jgraycar), or contact him personally at [jgraycar@berkeley.edu](mailto:jgraycar@berkeley.edu).

.right.fixed
  = image_tag("joel/taiko_2012.jpg", class: "joel-pic")
  .text
    :markdown
      Outside of coding, Joel's greatest joy is [taiko](http://en.wikipedia.org/wiki/Taiko), the ancient art of traditional Japanese drumming. Ever since he began learning in 2004, taiko has been Joel's passion outside of the classroom. He's currently having a great time playing with [Cal Raijin Taiko](http://www.caltaiko.org), UC Berkeley's taiko performance ensemble.
