- title = "About Me"
- description = "See more detailed information on my background and experience."
- image = URI.join(root_url, image_path("favicon.png"))

- meta title: title, description: description,
  og: { title: title, description: description, image: image, url: request.original_url }

.left
  %h1 About Me

  %section.about-text
    :markdown
      In the fall of 2012 I came to UC Berkeley fully intending to pursue a degree in Applied Mathematics. It was only at the suggestion of my student orientation group leader that I decided to enroll in my very first Computer Science course, [The Beauty and Joy of Computing](http://inst.eecs.berkeley.edu/~cs10/fa12/). The class was designed to introduce programming to those with absolutely zero prior experience, and I thought it might be the perfect way to introduce myself to a field I had always been interested in but had never actually explored.

      By the end of that first semester, I had indeed discovered the beauty and joy of programming; I enjoyed the course so much that I decided to pursue a Computer Science minor. Over the next year and a half, it gradually became clear to me that programming was where my interest truly lay, and so in the Spring of 2014 I officially switched to a Computer Science major.

  %section#courses
    %h1 Courses
    = render "courses/courses_feed", courses: @courses

  %section#work-exp
    %h1 Work Experience
    = render "jobs/jobs_feed", jobs: @jobs

  %section.about-text
    :markdown
      Currently, my passion in programming has turned to web application development, mostly using Ruby on Rails. I first began using Ruby and Rails for my work as a Student Web Applications Developer for Berkeley Law School. To help acquaint myself with its use, I developed a couple applications independently: the new website for [Cal Raijin Taiko](http://caltaiko.org), a campus student organization I am involved in, and this website itself. While doing so I discovered I quite enjoyed the web development process, and have been actively working in the field since.

      Other than web development, I also enjoy creating desktop applications through Java, my language of choice. At the end of my first year of Computer Science courses I was determined to put what I had learned to good use, and so set about developing a few applications on my own. Though we hadn't worked at all with Graphical User Interfaces, I did my own research into the implementation of Java Swing, and created my [Evil Hangman](http://www.jgraycar.com/projects/evil-hangman) and [Encoder](http://www.jgraycar.com/projects/encoder) applications. While doing so I also discovered the existence of Java build tools such as [Apache Ant](http://ant.apache.org/), [Apache Maven](http://maven.apache.org/), and [Gradle](http://www.gradle.org/), and familiarized myself with their use.

.right
