%h1 About Me

:markdown
  In the fall of 2012 I came to UC Berkeley fully intending to pursue a degree in Applied Mathematics. It was only at the suggestion of my student orientation group leader that I decided to enroll in my very first Computer Science course, [The Beauty and Joy of Computing](http://inst.eecs.berkeley.edu/~cs10/fa12/). The class was designed to introduce programming to those with absolutely zero prior experience, and I thought it might be the perfect way to introduce myself to a field I had always been interested in but had never actually explored.

  By the end of that first semester, I had indeed discovered the beauty and joy of programming; I enjoyed the course so much that I decided to pursue a Computer Science minor. Over the next year and a half, it gradually became clear to me that programming was where my interest truly lay, and so in the Spring of 2014 I officially switched to a Computer Science major.

%section#courses
  %h1 Courses
  = render "courses/courses_feed", courses: @courses

%section#work-exp
  %h1 Work Experience
