- title = "My Projects"
- description = "Get a quick glance at a few of the projects I've worked on."
- image = URI.join(root_url, image_path("favicon.png"))

- meta title: title, description: description,
  og: { title: title, description: description, image: image, url: request.original_url }

.left
  #project-content
    - @projects.each do |project|
      = render "bubble", project: project

  - if user_signed_in?
    .add-new
      = link_to image_tag("icons/add.png"), new_project_path

.right
