%nav#projects
  - @projects.each do |project|
    .link
      = link_to project.title, "##{project.slug}"

#project-content
  - @projects.each do |project|
    = render "show", project: project

  - if user_signed_in?
    .add-new
      = link_to image_tag("icons/add.png"), new_project_path
