- title = "#{@project.title} | My Projects"
- description = @project.description
- image = @project.icon.url(:original)

- meta title: title, description: description,
  og: { title: title, description: description, image: image, url: request.original_url }

.left
  = render "show", project: @project

.right
  %section.code-snippets
    %h2#snippets-header // Code Snippet
    %section.snippet-content
