$link-color: black;
$border-color: white;
$main-color: #222;
$dark-bg: #222;
$sub-color: #58514D;
$sub-color-2: #CCC7B9;
$sub-color-3: #BBBEB9;
$strong-color: #EEF268;

$main-font: "Lato", Geneva, Tahoma, sans-serif;
$link-font: "Lato", Geneva, Tahoma, sans-serif;
$strong-font: "Lato", Arial, Helvetica, sans-serif;
$header-font: "Oswald", Verdana, Geneva, sans-serif;

$project-nav-width: 209px;
$circle-size: 200px;