@import "variables";
@import "mixins";

section.code-snippets {
    .default {
        margin-top: 20px;
        p {
            font-family: $sub-font;
            color: $green;
            font-size: 130%;
            span {
                color: $coral;
            }
        }
    }
    #snippets-header {
        color: $green;
        font-size: 160%;
        word-spacing: 7px;
    }
    h3.code-link {
        color: $coral;
    }
    .gist {
        .gist-file {
            border: 0px black solid;
        }
        .gist-data {
            border: 0px black solid;
            background-color: transparent;
            td.line-numbers {
                display: none;
            }
            td.line-data {
                display: initial;
                * {
                    font-size: 110%;
                    color: $code-gray;
                }
            }
        }
        .gist-meta {
            display: none;
        }
    }
}

.code-snippet {
    display: none;
}

.snippet-links {
    margin-top: 40px;
    .snippet-link {
        margin-bottom: 25px;
        a.code-link {
            font-family: $sub-font;
            font-size: 120%;
            font-weight: bold;
        }
        h3 {
            color: $red;
            margin-bottom: 0px;
        }
        p {
            margin-top: 1%;
        }
    }
}
