@import "variables";

#page-wrapper {
    margin-left: $navbar-width;
    width: 800px;
    margin-top: 40px;
    * {
        font-family: $main-font;
    }
}

body.projects {
    #page-wrapper {
        margin-top: 0px;
    }
}

body {
    margin-top: 0px;
}

* {
    color: $main-font-color;
}