// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

#page-content {
    margin-top: 60px;
}

p, h1, h2, h3, a, small {
    text-align: center;
}

a {
    display: inline-block;
    color: $link-color;
    font-family: $main-font;
    &:hover {
        color: $sub-color;
    }
}

p {
    font-family: $main-font;
}

h1, h2, h3 {
    font-family: $header-font;
}