@font-face {
  font-family: 'Blokk-Neue';
  src: font-url('Blokk-Neue/Blokk-Neue.eot');
  src: font-url('Blokk-Neue/Blokk-Neue.eot?#iefix') format('embedded-opentype'),
  font-url('Blokk-Neue/Blokk-Neue.svg#Blokk-Neue') format('svg'),
  font-url('Blokk-Neue/Blokk-Neue.woff') format('woff'),
  font-url('Blokk-Neue/Blokk-Neue.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
