@import "variables";

#pic-of-me {
    display: inline-block;
    width: 39%;
    img {
	width: 100%;
    }
}

#intro {
    display: inline-block;
    width: 57%;
    vertical-align: top;
    padding-right: 20px;
    p:first-child {
	margin-top: 0px;
    }
    a {
	color: $red;
	text-decoration: none;
    }
}