// Place all the styles related to the front_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

img {
    display: block;
    margin: auto;
}

.bubble-link {
    position: relative;
    width: $bubble-size;
    display: block;
    img {
        position: relative;
        width: $bubble-size;
        z-index: 1;
    }
    p {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        z-index: 0;
        top: 35%;
    }
}

.bubble-link:hover {
    img {
        -webkit-filter: brightness(50%);
        -moz-filter: brightness(50%);
        -ms-filter: brightness(50%);
        filter: brightness(50%);
    }
    p {
        z-index: 3;
        color: white;
        a {
            color: white;
            text-decoration: none;
        }
    }
}

#about-bubble {
    margin: auto;
    margin-bottom: 60px;
}

#about-bubble:hover {
    img {
        filter: brightness(70%);
        -webkit-filter: brightness(70%);
    }
}

#projects-contact-links {
    width: 520px;
    margin: auto;
    #projects-bubble {
        float: left;
    }
    #contact-bubble {
        float: right;
    }
}