@import "variables";

header#nav-header {
    width: $navbar-width;
    position: fixed;
    top: 40px;
    left: 20px;
}

#nav-bar {
    margin-top: 20px;
    a {
        color: $main-font-color;
        text-decoration: none;
        font-family: $navbar-font;
    }
    a.main-link {
        font-size: 30px;
    }
    ul {
        display: none;
        margin-top: 5px;
        list-style-type: none;
        padding-left: 25px;
        li {
            a {
                font-family: $main-font;
                font-size: 20px;
                font-weight: 600;
            }
            a:hover {
                color: $blue;
            }
        }
    }
}

body.projects #nav-bar ul {
    display: block;
}

body.pages#about #nav-bar .link#about-page,
body.pages#contact #nav-bar .link#contact-page,
body.courses #nav-bar .link#courses-page,
body.jobs #nav-bar .link#jobs-page,
body.projects #nav-bar .link#projects-page {
    a.main-link {
        color: $red;
        font-family: $navbar-bold-font;
	font-weight: bold;
    }
}
