@import "variables";
@import "mixins";

section.jobs-feed {
    ul {
        list-style-type: none;
        padding-left: 0px;
        article.job {
            h3 {
                margin-bottom: 0px;
            }
            .job-description {
                padding-left: 7%;
                li {
                    margin: 4px auto;
                }
            }
        }
    }
}

a.resume-link {
    display: block;
    text-align: center;
    font-family: $sub-font;
    font-size: 150%;
    color: $green;
    text-decoration: none;
}

a.resume-link#download-part {
    font-size: 160%;
}

a.resume-link#pdf-part {
    font-size: 200%;
    font-weight: bold;
}