@import "variables";
@import "mixins";

header#nav-header {
    margin-top: 2%;
    margin-bottom: 1%;
    #logo-text {
        font-family: $sub-font;
        font-size: 335%;
        font-weight: bold;
        color: $red;
        text-decoration: none;
        display: block;
        margin-bottom: 1%;
    }
}

#nav-bar {
    text-align: left;
    .link {
        display: inline-block;
        margin-right: 3%;
        a {
            color: black;
            text-decoration: none;
            font-family: $sub-font;
            font-size: 180%;
            font-weight: bold;
        }
        ul {
            position: absolute;
            left: -9999px;
            list-style-type: none;
            li {
                background-color: $teal;
                text-align: left;
                a {
                    color: white;
                }
            }
        }
    }
    .link:hover {
        ul {
            z-index: 5;
            left: auto;
        }
    }
}

body.projects #nav-bar .link#projects-page,
body.pages#resume #nav-bar .link#resume-page,
body.pages#about #nav-bar .link#about-page {
    a {
        color: $teal;
    }
}