@import "variables";

.edit-icons {
    display: inline-block;
    img {
        width: 20px;
        height: 20px;
    }
}

.add-new {
    display: block;
    text-align: center;
    margin: 50px auto;
    img {
        width: 40px;
        height: 40px;
    }
}

article.project {
    .title {
	display: inline;
    }
    h2:not(:first-child) {
        margin-top: 40px;
    }
    a.header-link {
        text-decoration: none;
    }
    .project-pic {
        margin: 30px auto;
	text-align: center;
    }
}

#project-content {
    .bubble {
        position: relative;
        display: inline-block;
        margin: 20px;
        width: $bubble-size / 2;
        height: $bubble-size / 2;
        -moz-border-radius: $bubble-size / 2;
        -webkit-border-radius: $bubble-size / 2;
        border-radius: $bubble-size / 2;
        padding: $bubble-size / 4;
        text-align: center;
        overflow: hidden;
        border: 4px #DCD7D7 solid;
        -webkit-box-shadow: 0 0 1px #DCD7D7;
        -moz-box-shadow: 0 0 1px #DCD7D7;
        box-shadow: 0 0 1px #DCD7D7; 
        a.img-link {
            position: relative;
            left: $bubble-size / -4;
            top: $bubble-size / -4;
            width: $bubble-size;
            height: $bubble-size;
            z-index: 1;
        }
        a {
            position: absolute;
            text-decoration: none;
            top: 45%;
            left: 0px;
            right: 0px;
            z-index: 0;
        }
    }
    .bubble:hover {
        background-color: $main-font-color;
        img {
	    filter: alpha(opacity=40);
            opacity: .6;
        }
        a {
            z-index: 3;
            color: white;
        }
    }
}

h4.code-link {
    margin-bottom: 10px;
    font-family: $main-font;
}

h4.code-link:not(:first-child) {
    margin-top: 30px;
}