.edit-icons {
    img {
        width: 20px;
        height: 20px;
    }
}

.add-new {
    margin: 50px auto;
    img {
        width: 40px;
        height: 40px;
    }
}

article.project {
    margin-top: 80px;
    h2 {
        margin-top: 0px;
        padding-top: 40px;
    }
    a.header-link {
        text-decoration: none;
    }
}

article.project:first-child {
    margin-top: 0px;
}