@import "variables";
@import "mixins";

p {
    font-family: $main-font;
}

.blokk-filler {
    width: 90%;
    margin: 0px auto;
    margin-top: 10%;
    p {
        font-family: $blokk-font;
        color: $off-dark-gray;
        line-height: 15px;
        word-spacing: -15px;
        margin-bottom: 7%;
    }
}

li {
    font-family: $main-font;
    font-weight: light;
}