%nav.icons
  = link_to image_tag("icons/github.png"),
    "https://www.github.com/greytoyota", :target => "_blank"
  = link_to image_tag("icons/google_plus.png"),
    "https://plus.google.com/+JoelGraycar/posts", :target => "_blank"
  = link_to image_tag("icons/linkedin.png"),
    "http://www.linkedin.com/pub/joel-graycar/6a/8a7/910/", :target => "_blank"
